numpy==1.20.2
scipy==1.6.2
shapely[vectorized]==1.7.1
appdirs==1.4.3
certifi==2019.11.28
cffi==1.14.1
chardet==3.0.4
cryptography==3.4.6
decorator==4.4.0
idna==2.8
importlib-metadata==3.7.2
netifaces==0.10.9
networkx==2.3
numpy-stl==2.10.1
packaging==18.0
pycollada==0.6
pycparser==2.19
pyparsing==2.4.2
PyQt5==5.15.4
pyserial==3.4
python-dateutil==2.8.0
python-utils==2.3.0
requests==2.22.0
sentry-sdk==0.13.5
six==1.12.0
trimesh==3.2.33
twisted==21.2.0
urllib3==1.25.6
zeroconf==0.31.0
keyring==23.0.1
